# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Gedit Temp Fiels
*.*~

# Merged Original Files
*.*.orig

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

app
serv
server
Soujourn
SoujournServer
