
User Guide
{
    External
    {
        System Requirements
        {
            - Linux OS
            - SFML?
        }

        Game Requirements
        {
            - running server
            - running client
        }

        Customization
        {
            - gamesettings.h
        }
    }

    Internal
    {
        Before a Game
        {
            - connecting to a server
            - interacting with the lobby
            - when the game starts
        }

        During a Game
        {
            - Game rules
                = game start state
                = game end state
            - Vessel
                = controls
                    ~ movement
                    ~ attacking
                = levelling up
                = scoring
            - Deities
                = controls
                    ~ casting abilities
                = scoring
        }

        After a Game
        {
            - lobby rejoined
            - continued loop
        }
    }

    Encyclopedia
    {
        Vessels
        {
            - Warrior
            - Shaman
        }

        Deities
        {
            - Vitality
            - Demise
        }

        Gatekeepers
        {
            Grass
            {
                - Lost Souls
                - Guardian
            }

            Stone
            {
                - Lost Souls
                - Guardian
            }
        }
    }
}